.container__reminder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reminder__container__add {
  width: 75%;
  height: 46px;
  padding: 10px 14px;
  margin: 10px 20px;
  background-color: var(--color-background);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reminder__add {
  width: 30px;
  height: 30px;
  color: var(--color-white);
  text-align: center;
  line-height: 30px;
  background: var(--color-blue);
  border-radius: 50%;
}
