.container__todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo__container__add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 10px 20px;
}

.todo__add {
  width: 30px;
  height: 30px;
  color: var(--color-white);
  text-align: center;
  line-height: 30px;
  background: var(--color-lightblue);
  border-radius: 50%;
}

.modalBackdrop {
  position: fixed;
z-index: 999;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #F0FFFF;
display: grid; 
place-items: center;
}

.modalView {
  width: 30%;
  height: 30%;
  border-radius: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.close_btn { 
  margin-top: 5%;
  text-align: right;
  padding-right: 15px;
  cursor: pointer;
}

.desc {
  text-align: center;
  margin-top: 30%;
  color: #1a237e;
}