:root {
  /* size */
  /* 폰트사이즈, 버튼사이즈, 리스트사이즈 */
  --font-size: 18px;
  --size-btn: 60px;
  --title-size: 15px;

  /* color */
  --color-yellow: #FFDA26;
  --color-background-yellow: rgba(204, 182, 74, 0.1);
  --color-darkblue: #036f93;
  --color-blue: #13a4d4;
  --color-lightblue: #FFDA26;
  --color-grey: #eeeeee;
  --color-black: #333333;
  --color-white: #ffffff;
  --color-background: rgba(116, 202, 231, 0.1);
  --color-btn: #74cae7;
}

.container__app {
  border:1px solid #036f93;
  border-radius: 5%;
  width: 380px;
  height: 500px;
  display: flex;
}

.container__nav {
  flex: 1 0 0;
}

.container__pages {
  /* border: 1px solid black; */
  flex: 5 0 0;
}

.container__elements {
  width: 50px;
  height: 50px;
}
