:root {
  /* size */
  /* 폰트사이즈, 버튼사이즈, 리스트사이즈 */
  --font-size: 18px;
  --size-btn: 60px;
  --title-size: 15px;

  /* color */
  --color-darkblue: #036f93;
  --color-blue: #13a4d4;
  --color-lightblue: #74cae7;
  --color-grey: #eeeeee;
  --color-black: #333333;
  --color-white: #ffffff;
  --color-btn: #74cae7;
}

/* input css reset */
input[type="text"] {
  width: 100%; /* 나중에 원하는 사이즈로 수정 */
  height: auto; /* 높이 초기화 */
  font-family: inherit;
  line-height: normal; /* line-height 초기화 */
  border: none;
  outline-style: none;
  -webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */
  -moz-appearance: none;
  appearance: none;
}

.container__app {
  width: 380px;
  height: 500px;
  display: flex;
}

.container__nav {
  flex: 1 0 0;
}

.container__pages {
  border: 1px solid black;
  flex: 5 0 0;
}

.container__elements {
  width: 50px;
  height: 50px;
}
