/** reminderElement **/
.reminderElement {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 10px 20px;
}

/* reminderElement - Toggle Button */
.reminder__toggle__container {
  width: 20px;
  height: 12px;
  background-color: var(--color-blue);
  border-radius: 6px;
  position: relative;
}
.reminder__toggle__circle {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 10px;
}
.reminder__toggle__container__false {
  background-color: var(--color-lightblue);
}
.reminder__toggle__circle__false {
  left: 2px;
}

/* reminderElement - Input Name */
.reminder__edit__name {
  flex: 1;
}

/* reminderElement - Input Time */
.reminder__edit__time {
  text-align: right;
  flex: 1;
}
